@import url("//fonts.googleapis.com/css?family=Source+Code+Pro|Cabin:400,700");

body {
  font-family: 'Source Code Pro', cursive;
  font-weight: 500;
  line-height: 1.1;
}

body {
  background-color: #fff;
}